      <!-- FOOTER -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <img src="/images/logo-footer.png" width="200px" alt="" />
              <p>
                Somos uma comunidade de Dev’s que ama cinema e cultura Geek esperamos poder compartilhar tudo isso com
                vocês.
              </p>
            </div>
            <div class="footer-col">
              <h4>Funcionalidades</h4>
              <ul>
                <li><a href="#">Nota Wikiflix</a></li>
                <li><a href="#">Coméntarios</a></li>
                <li><a href="#">Interações</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Sobre nós</h4>
              <ul>
                <li><a href="#">Políticas de privacidade</a></li>
                <li><a href="#">Faça parte</a></li>
                <li><a href="#">Termos e condiçoes</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Siga-nos</h4>
              <div class="social-links" id="social-links">
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- END FOOTER -->
    </body>
    </html>