  <%- include('./partials/header')%>

    <!-- MAIN -->
    <main>
      <!-- BANNER -->
      <section class="banner" id="banner">
        <div class="banner__container bd-container bd-grid">
          <div class="banner-data">
            <h1 class="banner__title">
              Faça parte da <span>Wikiflix</span> uma comunidade de Dev’s fãns de filmes e series!
            </h1>
            <div class="banner__btn">
              <a href="/users/login" class="btn-main">Fazer Parte</a>
            </div>
          </div>
        </div>
      </section>
      <!-- BANNER END -->

      <!-- SECTION ONE -->

      <section class="section-one bg-container section" id="sobre">
        <div class="section-one__container bd-container bd-grid">
          <div class="section-one__contents">
            <div class="section-one__box">
              <img src="/images/img-section1.png" alt="imagem com filmes" class="section-one__img" />
            </div>
          </div>
          <div class="section-one__data">
            <h3 class="section-text-leg">Aqui você</h3>
            <p class="section-text-span">Interage e compartilha opiniões, com outros fãns de filmes e series</p>
            <p class="section-text-norm">
              Venha conosco contruir juntos uma comunidade forte e unida faça parte da Wikiflix
            </p>
          </div>
        </div>
      </section>
      <!-- SECTION ONE END -->

      <!-- SECTION TWO -->

      <section class="section-two bg-container section" id="quem-somos">
        <div class="section-two__container bd-container bd-grid">
          <div class="section-two__data">
            <h1 class="section-two-text-span">Quem somos nós?</h1>
            <p class="section-two-text-norm">
              Somos uma comunidade de Dev’s que ama cinema e cultura Geek esperamos poder compartilhar tudo isso com
              vocês e poder se descontrairmos e construir a Wikiflix em juntos.
            </p>
          </div>
          <div class="section-two__contents">
            <div class="section-two__box">
              <img src="/images/img-section2.png" alt="pessoa programando" class="section-two__img" />
            </div>
          </div>
        </div>
      </section>
      <!-- SECTION THREE END -->

      <!-- SECTION THREE -->

      <section class="section-three bg-container section" id="funcionalidades">
        <div class="section-three__container bd-container bd-grid">
          <div class="section-three__contents">
            <div class="section-three__box">
              <img src="/images/img-section3.png" alt="Chef Kalil" class="section-three__img" />
            </div>
          </div>
          <div class="section-three__data">
            <p class="section-three-text-span">Estamos anciosos para ter você conosco</p>
            <div class="container-check">
              <img src="/images/check-in.png" alt="" class="img-check" />
              <ul class="list_functions">
                <li class="itens_list">
                  <p class="section-three-text-norm">
                    Encontre pessoas que tambem adoram aquela serie que é tão viciante e faça amizades
                  </p>
                </li>
                <li class="list_functions">
                  <p class="section-three-text-norm">
                    Comente e compartilhe o que achou daquele filme ou daquela última temporada tão eletrizante
                  </p>
                </li>
                <li class="list_functions">
                  <p class="section-three-text-norm">
                    Classifique aquela saga histórica com as 5 estrelas que ela tanto merece
                  </p>
                </li>
                <div class="section-three__btn">
                  <a href="/users/login" class="btn-main">Fazer Parte</a>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </section>

    </main>
<%- include('./partials/footer') %>

          <!-- js -->
          <script src="/javascripts/main.js"></script>


