<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wikiflix</title>
    <link rel="shortcut icon" href="/images/icon-favicon.png" type="image/x-icon" />
    <!--boxIcons-->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <!-- css custom -->
      <link rel="stylesheet" href="/stylesheets/login.css"/>

  </head>
  <body>
    <!--------------SCROLL TOP------------------------>
    <a href="#" class="scrolltop" id="scroll-top">
      <i class="bx bx-chevrons-up scroll__top__icon"></i>
    </a>

    <!--------------HEADER------------------------>
    <header class="header" id="header">
      <!-- NAV -->
      <nav class="nav bd-container">
        <a href="#" class="logo"><img src="/images/logo-header.png" width="140px" alt="" /></a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="#quem-somos" class="nav__link">Quem somos</a></li>
            <li class="nav__item"><a href="#funcionalidades" class="nav__link">Funcionalidades</a></li>
            <li class="nav__item"><a href="#social-links" class="nav__link">Redes Sociais</a></li>
            <li class="nav__item"><a href="../login" class="btn">Entrar</a></li>
          </ul>
        </div>

        <!--MENU TOGGLE-->
        <div class="nav__toggle">
          <i class="bx bx-menu" style="color: #e8a330" id="nav-toggle"></i>
        </div>
        <!-- END MENU TOGGLE -->
      </nav>
      <!-- END NAV -->
    </header>
    <!-- END HEADER -->
  
  <!-- MAIN -->
  <main>
    <div class="main-login">
      <div class="left-login">
        <h1>Faça login <br />E entre para <span> Wikiflix</span></h1>
        <img src="/images/animation-cine.svg" class="left-login-img" alt="" />
      </div>
      <div class="right-login">
        <div class="card-login">
          <h1>LOGIN</h1>
          <% if (erros) { %>
            <ul class="erros">
              <% erros.forEach(erro => { %>
                <li><%= erro.msg %></li>
              <% }) %>
            </ul>
          <% } %>
          <form action="/users/login" method="POST" >
          <div class="textfield">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="textfield">
            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="senha" />

            <!-- Link de recuperar a senha -->

            <a class="forgot-password">
              Esqueci a Senha
            </a>

            <a class="signUp">
              Cadastre-se
            </a>
            <button type="submit" class="btn-modal">enviar</button>
          </form>

    <!-- MODAL FORGOT -->
    <div id="modal-forgot" class="modal-container">
      <div class="modal">
        <button class="close">x</button>
        <h2>Insira seu endereço de e-mail</h2>
        <h4>Para recuperar sua senha, precisamos do endereço de e-mail vinculado à sua conta.</h4>
        <form action="">
          <input type="text" class="modal-input" placeholder="Digite seu Email">
          <button class="btn-modal">Recuperar Senha</button>
          <!-- <input type="button" class="btn-modal" value="Recuperar Senha"> -->
        </form>
      </div>
    </div>
  
  <!-- MODAL SIGN UP -->
  
    <div id="modal-signUp" class="modal-container">
      <div class="modal">
        <form action="/users/cadastrar" enctype="multipart/form-data" method="POST" >
          <h2>Cadastre-se!</h2>
          <%=  %> 
          <button class="close">x</button>
          <div>
            <input type="text" name="nome" id="nome" placeholder="Nome Completo" class="modal-input-signUp">
            <input type="email" name="email" id="email" placeholder="Email" class="modal-input-signUp">
            <input type="password" name="senha" id="senha" placeholder="Crie uma senha" class="modal-input-signUp">
            <input type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme a senha" class="modal-input-signUp">
            <input type="file" id="arquivo" name="arquivo" value="arquivo"> 
            <label for="arquivo"> Insira imagem desejada.</label> 
          </div>
          <button type="submit" class="btn-modal">enviar</button>
  
  
        </form>
    </div>
    </div>
  </main>
  <%- include('./partials/footer') %>
  
    <!-- js -->
    <script src="/javascripts/mainLogin.js">
  
  
  
  
    </script>