.movie-info{
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-detail{
  width: 50%;
  height: 100%;
  background: rgb(24, 24, 24);
  background: linear-gradient(90deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0) 100%);
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.movie-name{
  font-size: 30px;
  font-weight: 500;
}

.genres{
  opacity: 0.6;
  margin: 30px 0;
}

.des {
  width: 70%;
  line-height: 20px;
  margin-bottom: 30px;
}

.starring span{
  opacity: 0.6;
}

.review-title,
.trailer-container,
.recommendations{
  color: #fff;
  padding-top: 5vh;
  padding-left: 2vw;
}

.heading-about {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

iframe{
  width: 400px;
  height: 200px;
}

.recommendations-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movie p {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
}

.movie:hover p{
  opacity: 1;
}

/* FORM-REVIEWS */

#review-form-container {
  background-color: rgb(32, 32, 32);
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3vh 5vw;
  border-top: solid 4px #f2ad2e;
}

/* #review-form p {
  color
} */

#review-form textarea {
  width: 50%;
  margin: 2vw 0;
}

#review-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 4px  solid #f2ad2e;
}

.reviews {
  padding-top: 5vh;
  color: #fff;
}

.card-btn {
  background: linear-gradient(to right, #f2ad2e 0%, #e79806 100%);
  border: none;
  outline: none;
  box-shadow: 4px 4px 6px rgb(250 216 172 / 30%);
  padding: 0.5rem 1.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 3px;
  text-align: center;
  outline: none;
  color: var(--light-color);
  border-radius: 6px;
  display: inline-block;
  transition: 0.4s;
}

/* REVIEW */

.review {
  color: #fff;
  background-color: rgb(32, 32, 32);
  padding: 5vw 5vw 0;
  padding: 2vw;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3vw 5vw;
}

.deleteReview {
  border: none;
  background-color: rgba(255,0,0,0.0);
  color: #f2ad2e;
  text-decoration: underline;
}

body > div > div > div > h4 > a {
  text-decoration: none;
  color: #f2ad2e;
}



 /* responsive
@media (max-width: 767px) {
  .movie-detail{
    height: 100%;
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
  }
} */
 @media (max-width: 574px) {
  .movie-detail{
    width: 70%;
    height: auto;
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
  }

  #review-form-container {
    background-color: rgb(32, 32, 32);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: solid 4px #f2ad2e;
  }

  .form-group textarea {
    margin: 2vw 0;
}
  
} 