/*---------------GOOGLE FONTS-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap");

/*---------------VARIABLES CSS-------------------*/
:root {
  --header-height: 6.25rem;

  /*---------------COLLORS -------------------*/
  --first-color: #e8b85e;
  --first-color_alt: #e8a330;
  --first-color_alt_light: #dbbf87;
  --light-color: #ffffff;
  --dark-color: #000000;
  --text-color: #171f07;
  --body-color: #ffffff;
  --container-color: #ffffff;

  /*---------------FONT  AND TYPOGRAPHY-------------------*/
  --body-font: "Poppins", sans-serif;
  --font-logo: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*---------------FONT WEIGHT-------------------*/
  --font-light: 400;
  --font-medium: 500;
  --font-bold: 700;

  /*---------------MARGINS-------------------*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*---------------Z INDEXS-------------------*/
  --Z-fixed: 100;
  --z-tooltip: 10;
}

/*---------------BASE-------------------*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------BUTTONS-------------------*/
.btn {
  width: 100%;
  background: linear-gradient(to right, #f2ad2e 0%, #e79806 100%);
  border: none;
  outline: none;
  box-shadow: 4px 4px 6px rgba(250, 216, 172, 0.3);
  padding: 0.5rem 1.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 3px;
  text-align: center;
  outline: none;
  color: var(--light-color);
  border-radius: 6px;
  display: inline-block;
  transition: 0.4s;
}

.btn:hover {
  letter-spacing: 5px;
}

.btn-exit {
  width: 100%;
  background: red;
  border: none;
  outline: none;
  box-shadow: 4px 4px 6px rgba(250, 216, 172, 0.3);
  padding: 0.5rem 1.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 3px;
  text-align: center;
  outline: none;
  color: var(--light-color);
  border-radius: 6px;
  display: inline-block;
  transition: 0.4s;
}

.btn-main {
  width: 40%;
  background: linear-gradient(to right, #f2ad2e 0%, #e79806 100%);
  border: none;
  outline: none;
  box-shadow: 4px 4px 6px rgba(250, 216, 172, 0.3);
  padding: 0.5rem 1.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 3px;
  text-align: center;
  outline: none;
  color: var(--light-color);
  border-radius: 6px;
  display: inline-block;
  transition: 0.4s;
}

.btn-main:hover {
  letter-spacing: 5px;
}

/*---------------LAYOUT-------------------*/

.bd-container {
  max-width: 1140px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.bd-grid {
  display: grid;
  gap: 1, 5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--Z-fixed);
  background-color: var(--dark-color);
}

.bg-container {
  background-color: var(--container-color);
}

/*-----------NAV---------------*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

@media (max-width: 960px) {
  .nav__menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    text-align: left;
    padding: 0 2rem;
    background-color: var(--light-color);
    border-radius: 6px 0 0 6px;
    box-shadow: -10px -8px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-tooltip);
    transition: 0.4s;
  }

  .nav__menu .logo {
    padding-left: 4rem;
  }

  .nav__menu .nav__item {
    margin-bottom: var(--mb-2);
  }

  .nav__menu .nav__item:first-child {
    margin-top: 8rem;
  }

  .show-menu {
    right: 0;
  }
}

.nav__link {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
}

.nav__link:hover,
.active-link {
  padding-bottom: var(--mb-1);
  border-bottom: 1px solid var(--first-color);
}

.nav__toggle {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  padding: 0.1rem 0.5rem;
  border: 1px solid var(--first-color);
  margin-right: 1rem;
  border-radius: 6px;
  z-index: var(--Z-fixed);
}

.nav__toggle:hover {
  background-color: var(--first-color);
  color: var(--light-color);
}

input {
  width: 100%;

  border: none;
  border-radius: 10px;
  padding: 15px;
  background: var(--first-color_alt_light);
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

/* MAIN */

.categories {
  background: black;
}

.menu__categories .categories ul {
  display: flex;
  justify-content: center;
  flex-flow: row;
  list-style: none;
  color: rgb(155, 12, 12);
}

.menu__categories .categories a {
  text-decoration: none;
  background-color: black;
  display: block;
  padding: 1rem;
  font-weight: bold;
}

.categories ul a {
  color: orange;
  font-size: 14px;
}
.categories ul {
  width: 100%;
}

/* SCROLL HEADER*/
.scroll-header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* SCROLL TOP*/
.scrolltop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  padding: 0.5rem;
  border-radius: 50%;
  right: 1rem;
  bottom: 1rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color_alt_light);
  color: var(--first-color_alt);
}

.scroll__top__icon {
  font-size: 1.8rem;
  color: var(--light-color);
}

/* SHOW SCROLL TOP*/
.scroll-top {
  visibility: visible;
  bottom: 1rem;
}

/*-------MEDIA QUERY------*/

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-container {
    padding: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  :root {
    --big-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

@media (min-width: 960px) {
  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-3);
  }

  .nav__link {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--light-color);
  }

  .nav__item:first-child {
    margin-top: 0;
  }

  .nav__toggle {
    display: none;
  }
}

/* FOOTER */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #e8b85e;
  padding: 70px 0;
  margin-top: 100px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col p {
  font-size: 14px;
  text-decoration: none;
  font-weight: var(--font-medium);
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #000000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: var(--font-medium);
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

main > aside > p {
  font-size: 15px;
}

p .genero {
  color: black;
}
