<%- include('./partials/headerLogado') %>

    <!-- main section -->
    <main class="main">
      <h1 class="heading">Seja Bem-Vindo </h1>

      <p class="info">Interaja, converse, e remomende aquele filme ou serie favorito, aqui na Wikiflix somos uma familia.</p>
      <p class="info">Eai jรก pegou sua pipoca?</p>
      <!-- movie list -->
      <!-- <div class="movie-list">
          <button class="pre-btn"><img src="img/pre.png" alt=""></button>
          <h1 class="movie-category">Popular movie</h1>
          <div class="movie-container">
              <div class="movie">
                  <img src="img/poster.jpg" alt="">
                  <p class="movie-title">movie name</p>
              </div>
          </div>
          <button class="nxt-btn"><img src="img/nxt.png" alt=""></button>
      </div> -->
    </main>

  <script src="/javascripts/api.js"></script>
  <script src="/javascripts/scroll.js"></script>
  <script src="/javascripts/home.js"></script>
  <script src="/javascripts/main.js"></script>
  
  
  <%- include('./partials/footer') %>
  </body>
</html>
