<%- include('./partials/headerLogado') %>

    <!-- main section -->
    <main class="main">
      <h1 class="heading">Seja Bem-Vindo </h1>

      <p class="info">Interaja, compartilhe e recomende aquele filme ou série favorito, aqui na Wikiflix somos uma família.</p>
      <p class="info">Eai já pegou sua pipoca?</p>

    </main>

  <script src="/javascripts/api.js"></script>
  <script src="/javascripts/scroll.js"></script>
  <script src="/javascripts/home.js"></script>
  <script src="/javascripts/main.js"></script>
  
  
  <%- include('./partials/footer') %>
  </body>
</html>
